*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}

ul li {
    list-style: none;
}

.btn-green {
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background: #05a585;
    width: 140px;
    text-align: center;
}
.btn-green:hover {
    background: #033e3e;
    color: white;
}

.btn-green-dark {
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background: #033e3e;
    width: 140px;
    text-align: center;
}

.btn-green-dark:hover {
    background: #05a585;
    color: white;
}

.btn-port {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
    background: #555353;
    width: 140px;
    text-align: center;
}

#navbar-hero {
    background-image: url("assets/img/bg-1.jpeg");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* adds the green color on the image background*/
#navbar-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #033e3ec7; 
    z-index: 1; 
}

#navbar-hero * {
    z-index: 2; /* ensures that all elements inside #navbar-hero are above the background */
}

#navbar-hero #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar {
    background: transparent;
    width: 100%;
    color: #fff;
}

.navbar-nav .nav-item a {
    color: #fff;
}


.navbar .btn-green {
    margin-left: 8px;
}
.navbar .btn-green:hover {
    background: #033e3e;
    color: white;
}

.navbar .icons {
    display: flex;
    gap: 13px;
    font-weight: 700;
    font-size: 25px;
    margin-left: 9px;
}

.navbar .icons:hover {
    cursor: pointer;
    color: #033e3e;
}

#navbar-hero #hero .container .row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* bio styles*/
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.socials {
    display: flex;
  
}

.socials h4 {
    font-size: 16px;
    font-weight: 800;
}

.socials .media-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-left: 0;
}

.buttons {
    margin-top: 25px;
}

/* skills styles*/
#abilities {
    background-color: #F5E6C8;
}

.able {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 15px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.skills .card{
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.skills .card span{
    display: inline-block;
    color: #012727;
    padding: 2px 9px;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.skills .card h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.skills .card p{
    margin-bottom: 1rem;
}

.more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    color: #007b5e;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}






/*Media Queries*/
@media (max-width: 999px) {
    .section-p1 {
        padding: 20px 10px;
    }
    .section-m1 {
        margin: 20px 0;
    }
    .navbar .btn-green {
        margin-left: 0;
    }
    .navbar .icons {
        font-size: 20px;
        margin-left: 0;
    }
    #navbar-hero .row img {
        display: none;
    }
    .details {
        flex-direction: column;
        align-items: start;
    }
}
@media (max-width: 480px) {
    .section-p1 {
        padding: 10px 5px;
    }
    .section-m1 {
        margin: 10px 0;
    }
    p {
        font-size: 20px;
        line-height: 1.5;
    }
    #navbar-hero .row img {
        display: none;
    }
    .navbar .btn-green {
        margin-left: 0;
    }
    .navbar .icons {
        font-size: 18px;
        margin-left: 0;
        margin-top: 10px;
    }
    .details {
        flex-direction: column;
        align-items: start;
    }
    .buttons {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}